<div class="col">
    <div class="row mx-3 my-0 py-1">
        <div class="col-md-6 p-0">
            <h3>List des fournisseurs</h3>
        </div>
        <div class="col-md-6 text-end">
            <app-bouton-action (clickEvent)="nouveauFournisseurs()" [isImporterVisible]="false" [isExporterVisible]="false"></app-bouton-action>
        </div>
        <div class="alert alert-danger" *ngIf="errorMsg">
            <span>{{ errorMsg }}</span>
        </div>
    </div>
    <div class="col m-3">
        <app-detail-clt-frs *ngFor="let fournisseur of listFournisseur | paginate : {
            itemsPerPage: 4,
            currentPage: page,
            totalItems: listFournisseur.length }"
        [origin]="'fournisseur'" (suppressioResult)="handleSuppression($event)"
        [clientFournisseur]="fournisseur"></app-detail-clt-frs>
    </div>
    <div class="row m-2">
        <div class="col-md-12 text-center">
            <pagination-controls class="small-text"
                previousLabel="Precedent"
                nextLabel="Suivant"
                (autoHide)="true"
                (responsive)="true"
                (pageChange)="page = $event">
            </pagination-controls>
        </div>
    </div>
</div>
