<div class="row mb-1 custom-border">
    <div class="col-md-1 border-right p-2">
        <img [attr.src]="article.photo ? article.photo : 'favicon.ico'" [alt]="article.designation" width="60px"
            height="60px" />
    </div>
    <!-- Detail article -->
    <div class="col-md-4 border-right">
        <div class="row small-text my-1">
            <div class="row">
                <div class="col-md-1"><i class="fas fa-info-circle blue-color"></i></div>
                <div class="col-md-10">{{article.codeArticle}}</div>
            </div>
            <div class="row">
                <div class="col-md-1"><i class="fas fa-info-circle blue-color"></i></div>
                <div class="col-md-10">{{article.designation}}</div>
            </div>
            <div class="row">
                <div class="col-md-1"><i class="fas fa-dollar-sign blue-color"></i></div>
                <div class="col-md-10">{{article.prixTtc}}</div>
            </div>
            <div class="row">
                <div class="col-md-1"><i class="fas fa-dollar-sign blue-color"></i></div>
                <div class="col-md-10">{{article.prixTtc}}</div>
            </div>
        </div>
    </div>
    <!-- Detail categorie -->
    <div class="col-md-4 border-right">
        <div class="custum-cent">
            <div class="custum-center pt-4">
                <i class="fab fa-dropbox blue-color"></i>
                <h5 class="px-3">Stock actuel&nbsp;<span
                        [attr.class]="article.stock ? 'badge text-bg-success' : 'badge text-bg-danger'">{{article.stock
                        ? article.stock : 0}}</span></h5>
            </div>
        </div>
    </div>
    <!-- Boutton action -->
    <div class="col-md-3 row">
        <div class="col-7 m-0 p-0 text-primary custum-center text-center small-text">
            <button class="btn btn-link pt-4" type="button" data-bs-toggle="modal"
                [attr.data-bs-target]="'#modalCorrection'+article.id">
                <i class="fab fa-stack-overflow"></i>&nbsp;Correction
            </button>
        </div>
        <div class="col-5 m-0 p-0 text-primary custum-center text-center small-text">
            <button class="btn btn-link pt-4" type="button" (click)="detailArticle()">
                <i class="fas fa-list-alt"></i>
                Details
            </button>
        </div>
    </div>
</div>

<!-- Modal correction de stock -->
<div class="modal fade super-top" id="modalCorrection{{article.id}}" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Correction de stock</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <input type="text" class="form-control" id="quantite" placeholder="Quantiter">
                    </div>
                    <div class="mb-3">
                        <select class="form-control" name="" id="">
                            <option value="correctionpos">Correction positive</option>
                            <option value="correctionneg">Correction negative</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
                    <i class="fas fa-ban"></i>&nbsp;Annuler
                </button>
                <button type="button" class="btn btn-primary" (click)="modifierStock()">
                    <i class="fas fa-save"></i>&nbsp;Sauvegarder
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Modal detail mouvement -->
<div class="modal fade super-top" id="modalDetail{{article.id}}" tabindex="-1" aria-labelledby="modalDetail"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable wisth-40">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title fs-5" id="exampleModal{{article.id}}">
                    Detail du mouvent des stocks pour l'article "{{article.designation}}"
                </h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="card">
                    <div class="card-body">
                        <app-detail-mvtstk></app-detail-mvtstk>
                        <div *ngFor="let mvt of listMvtStk">
                            <app-detail-mvtstk [mvtStk]="mvt"></app-detail-mvtstk>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>