<div class="row mb-1 custom-border small-text  text-center">
    <!-- Detail article -->
    <div class="col-md-3 border-right ">
        <div class="col-md-12">
            <i class="fas fa-info-circle blue-color"></i>&nbsp;
            {{mvtStk.dateMvt | date:"dd/MM/YYYY"}}
        </div>
    </div>
    <div class="col-md-3 border-right">
        <div class="col-md-12">
            {{mvtStk.quantite}}
        </div>
    </div>
    <div class="col-md-3 border-right">
        <div class="col-md-12">
            <i class="fas fa-info-circle blue-color"></i>&nbsp;
            {{mvtStk.typeMvt}}
        </div>
    </div>
    <div class="col-md-3 border-right">
        <div class="col-md-12">
            {{mvtStk.sourceMvt}}
        </div>
    </div>
</div>