<div class="row m-3">
    <div class="col-md-6 col-lg-5 mb-3 mb-md-0">
        <div class="card custom-border h-100">
            <div class="card-body text-center d-flex flex-column justify-content-center">
                <div class="mb-3 position-relative">
                    <div class="user-avatar-large mx-auto d-flex align-items-center justify-content-center" 
                         [style.backgroundImage]="utilisateurDto.photo ? 'url(' + utilisateurDto.photo + ')' : ''"
                         [style.backgroundSize]="utilisateurDto.photo ? 'cover' : ''"
                         [style.backgroundPosition]="utilisateurDto.photo ? 'center' : ''"
                         [class.drag-over]="isDragOver"
                         (dragover)="onDragOver($event)"
                         (dragleave)="onDragLeave($event)"
                         (drop)="onDrop($event)">
                        <span *ngIf="!utilisateurDto.photo">{{ getUserInitials() }}</span>
                    </div>
                    <label *ngIf="editable" class="avatar-edit-btn">
                        <i class="fas fa-camera"></i>
                        <input type="file" accept="image/*" (change)="onPhotoSelected($event)" hidden>
                    </label>
                </div>
                <div class="mb-4">
                    <h5>{{ utilisateurDto.nom }} {{ utilisateurDto.prenom }}</h5>
                    <small class="form-text text-muted">{{ getAdresse() }}</small>
                </div>
                <div class="d-flex justify-content-center flex-wrap">
                    <button type="button" class="btn btn-primary btn-sm m-1" (click)="modifierProfil()">
                        <i class='fas fa-pencil-alt'></i>&nbsp;Modifier
                    </button>
                    <button type="button" class="btn btn-warning btn-sm m-1" (click)="changerMotdePasse()">
                        <i class='fas fa-lock'></i>&nbsp;Mot de passe
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-6 custom-border pt-2">
        <div class="alert alert-danger" *ngIf="errorMsg">
            <span>{{ errorMsg }}</span>
        </div>
<table class="table table-hover" id="tableRef">
            <tbody>
                <tr>
                    <th scope="row">Nom</th>
                    <td>
                        <input *ngIf="editable" type="text" class="form-control form-control-sm" [(ngModel)]="utilisateurDto.nom">
                        <span *ngIf="!editable">{{ utilisateurDto.nom }}</span>
                    </td>
                </tr>
                <tr>
                    <th scope="row">Prénom</th>
                    <td>
                        <input *ngIf="editable" type="text" class="form-control form-control-sm" [(ngModel)]="utilisateurDto.prenom">
                        <span *ngIf="!editable">{{ utilisateurDto.prenom }}</span>
                    </td>
                </tr>
                <tr>
                    <th scope="row">E-mail</th>
                    <td>
                        <span>{{ utilisateurDto.email }}</span>
                    </td>
                </tr>
                <tr>
                    <th scope="row">Adresse</th>
                    <td>
                        <input *ngIf="editable" type="text" class="form-control form-control-sm" [(ngModel)]="utilisateurDto.adresse!.adresse1">
                        <span *ngIf="!editable">{{ utilisateurDto.adresse?.adresse1 }}</span>
                    </td>
                </tr>
                <tr>
                    <th scope="row">Ville</th>
                    <td>
                        <input *ngIf="editable" type="text" class="form-control form-control-sm" [(ngModel)]="utilisateurDto.adresse!.ville">
                        <span *ngIf="!editable">{{ utilisateurDto.adresse?.ville }}</span>
                    </td>
                </tr>
                <tr>
                    <th scope="row">Code postal</th>
                    <td>
                        <input *ngIf="editable" type="text" class="form-control form-control-sm" [(ngModel)]="utilisateurDto.adresse!.codePostal">
                        <span *ngIf="!editable">{{ utilisateurDto.adresse?.codePostal }}</span>
                    </td>
                </tr>
                <tr>
                    <th scope="row">Pays</th>
                    <td>
                        <input *ngIf="editable" type="text" class="form-control form-control-sm" [(ngModel)]="utilisateurDto.adresse!.pays">
                        <span *ngIf="!editable">{{ utilisateurDto.adresse?.pays }}</span>
                    </td>
                </tr>
                <tr>
                    <th scope="row">Date de naissance</th>
                    <td>
                        <input *ngIf="editable" type="date" class="form-control form-control-sm" [(ngModel)]="utilisateurDto.dateDeNasissanceTemp">
                        <span *ngIf="!editable">{{ utilisateurDto.dateDeNasissanceTemp | date:'dd/MM/yyyy' }}</span>
                    </td>
                </tr>
                <tr>
                    <th scope="row">Entreprise</th>
                    <td>{{ utilisateurDto.entreprise?.nom }}</td>
                </tr>
            </tbody>
        </table>
        <div class="mt-3 mb-2 d-flex justify-content-end" *ngIf="editable">
            <button class="btn btn-outline-secondary btn-sm me-2" (click)="cancelClick()">
                <i class="fas fa-times"></i>&nbsp;Annuler
            </button>
            <button class="btn btn-primary btn-sm" (click)="saveProfil()">
                <i class="fas fa-check"></i>&nbsp;Enregistrer
            </button>
        </div>
    </div>
</div>