<div class="row m-3">
    <div class="card col-md-5 custom-border">
        <div class="card-body text-center">
            <div class="col mb-3">
                <img src="favicon.ico" class="rounded-circle mx-auto d-block" alt="image" width="150" height="150">
            </div>
            <div class="col mb-4">
                <h2>Nom prenom</h2>
                <small class="form-text text-muted">Adresse, Ville, cp-12345</small>
            </div>
            <div class="d-flex align-content-between text-center">
                <button type="button" class="btn btn-primary small-text mx-1" (click)="modifierProfil()">
                    <i class='fas fa-pencil-alt'></i>&nbsp;
                    Modifier le profil
                </button>
                <button type="button" class="btn btn-warning small-text mx-1" (click)="changerMotdePasse()">
                    <i class='fas fa-lock'></i>&nbsp;
                    Changer mot de passe
                </button>
            </div>
        </div>
    </div>
    <div class="card col-md-6 custom-border mx-1 pt-3">
        <table class="table small-text" id="tableRef" name="tableRef">
            <tbody>
                <tr>
                    <th scope="row">Nom complet</th>
                    <td [attr.contenteditable]="editable ? 'true': 'false'" >
                        Nom prenom
                    </td>
                </tr>
                <tr>
                    <th scope="row">E-mail</th>
                    <td>exemple@exemple.com</td>
                </tr>
                <tr>
                    <th scope="row">Telephone</th>
                    <td [attr.contenteditable]="editable ? 'true': 'false'">033 67 518 24</td>
                </tr>
                <tr>
                    <th scope="row">Adresse</th>
                    <td [attr.contenteditable]="editable ? 'true': 'false'">Adresse, ville, cp-12345</td>
                </tr>
                <tr>
                    <th scope="row">Entreprise</th>
                    <td>Nom Entreprise</td>
                </tr>
            </tbody>
        </table>
        <div class="row" *ngIf="editable">
            <div class="col-6 text-end">
                <button class="btn btn-danger" (click)="cancelClick()">Annuler</button>
            </div>
            <div class="col-6">
                <button class="btn btn-success">
                    Enregistrer
                </button>
            </div>
        </div>
    </div>
</div>