node_modules
.git
.gitignore
.idea
.vscode
*.log
npm-debug.log*
yarn-error.log
.DS_Store
Thumbs.db
dist
e2e
tools
coverage
*.spec.ts
*.spec.js
karma.conf.js
tsconfig*.json
tslint.json
README.md
HISTORIQUE.md