<div class="col p-2 mb-3">
  <div class="row">
    <div class="col-9 px-5">
      <div class="col-md-12 mb-3">
        <h2>
          <i class="fas fa-info-circle blue-color"></i>&nbsp;Nouvel {{ origin }}
        </h2>
      </div>
      <div class="alert alert-danger" *ngIf="errorMsg.length">
        <div *ngFor="let msg of errorMsg">
          <span>{{ msg }}</span>
        </div>
      </div>
      <div class="col-md-12 m-3">
        <div class="row custom-border p-3 mb-2">
          <form class="row">
            <div class="col-md-4 mb-2">
              <input type="text" class="form-control" name="codeArticle" placeholder="Code article"
                [(ngModel)]="codeArticle" (input)="searchArticle()"/>
              <div class="autocomplete shadow p-3 mb-5 m-0 bg-white rounded small-text"
                *ngIf="codeArticle.length && articleNotYetSelected">
                <p class="p-1" *ngFor="let article of listArticles"
                  (click)="selectedArticle(article)">
                  {{ article.codeArticle }}&nbsp;{{ article.designation }}
                </p>
              </div>
            </div>
            <div class="col-md-4 mb-2">
              <input type="number" class="form-control" name="quantite" [(ngModel)]="quantite" placeholder="Quantite"/>
            </div>
            <div class="col-md-3 mb-2">
              <input type="text" class="form-control" name="prixTtc" disabled
                [(ngModel)]="searchedArticle.prixTtc" id="prixunitaire" placeholder="Prix unitaire"/>
            </div>
            <div class="col-md-1 mb-2">
              <button type="button" class="btn btn-success"
                (click)="addLigneCommande()"><i class="fas fa-plus"></i>
              </button>
            </div>
            <div class="col-md-12 mb-2">
              <input type="text" class="form-control" name="commentaire" placeholder="Commentaire"
                [(ngModel)]="venteDto.commentaire"/>
            </div>
          </form>
        </div>
        <div class="row custom-border mb-2">
          <div class="card">
            <div class="card-body scroll-body-max-height-130" *ngIf="ligneDeVentes.length > 0">
              <app-details-cmd
                *ngFor="let ligneVente of ligneDeVentes"
                [ligneCommande]="ligneVente"></app-details-cmd>
            </div>
            <div class="card-footer">
              <div class="row">
                <div class="col-md-6 text-start">
                  {{ quantiteListArticle }}&nbsp;articles commander
                </div>
                <div class="col-md-6 text-end">
                  Total commande : {{ totalVente }}
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-12 text-end">
          <button class="btn btn-danger mx-1" (click)="cancelClick()">
            <i class="fas fa-ban"></i>&nbsp;Annuler
          </button>
          <button class="btn btn-success mx-1" (click)="saveClick()">
            <i class="fas fa-save"></i>&nbsp;Sauvegarder
          </button>
        </div>
      </div>
    </div>
    <div class="col-3 p-3">
      <app-calculator></app-calculator>
    </div>
  </div>
</div>
