<div class="col">
    <div class="row mx-3 my-0 py-1">
        <div class="col-md-7 p-0">
            <h3>Mouvement de stock</h3>
        </div>
        <div class="col-md-5 text-end">
            <app-bouton-action [isImporterVisible]="false" [isNouveauVisible]="false"></app-bouton-action>
        </div>
    </div>
    <div class="col m-3">
        <div *ngFor="let article of listArticle | paginate : {
            itemsPerPage:5,
            currentPage: page,
            totalItems: listArticle.length}">
            <div class="card">
                <div class="m-0 p-3">
                    <h3 class="accordion-header p-0 m-0" id="{{article.codeArticle}}">
                        <app-detail-mvtstk-articles [article]="article"
                            [listMvtStk]="maplistMvtStk.get(article.id)">
                        </app-detail-mvtstk-articles>
                    </h3>
                </div>
            </div>
        </div>
        <div class="row m-2">
            <div class="col-md-12 text-center">
                <pagination-controls class="small-text" previousLabel="Precedent" nextLabel="Suivant" (autoHide)="true"
                    (responsive)="true" (pageChange)="page = $event">
                </pagination-controls>
            </div>
        </div>
    </div>
</div>