<div class="sidebar-menu">
  <div class="logo-container">
    <img *ngIf="isDarkMode" src="assets/images/logo-menu-dark.svg" alt="Logo" width="200" height="80">
    <img *ngIf="!isDarkMode" src="assets/images/logo-menu-light.svg" alt="Logo" width="200" height="80">
  </div>
  <nav class="menu-nav">
    <ng-container *ngFor="let menu of menuProperties">
      <!-- Menu without submenus (single menu) -->
      <div *ngIf="!menu.sousMenus?.length" 
           class="menu-item single" 
           [class.active]="menu.active"
           (click)="menu.url === 'logout' ? logoutApp() : navigate(menu)">
        <i class="{{menu.icon}}"></i>
        <span>{{menu.titre}}</span>
      </div>
      
      <!-- Menu with submenus (accordion) -->
      <div *ngIf="menu.sousMenus?.length" class="menu-group">
        <div class="menu-item parent" 
             [class.active]="menu.active"
             (click)="toggleMenu(menu)">
          <i class="{{menu.icon}}"></i>
          <span>{{menu.titre}}</span>
          <i class="fas fa-chevron-down arrow" [class.rotate]="menu.active"></i>
        </div>
        
        <div class="submenu" *ngIf="menu.active">
          <div *ngFor="let sousMenu of menu.sousMenus" 
               class="submenu-item"
               [class.active]="sousMenu.active"
               (click)="navigate(sousMenu)">
            <i class="{{sousMenu.icon}}"></i>
            <span>{{sousMenu.titre}}</span>
          </div>
        </div>
      </div>
    </ng-container>
  </nav>
</div>