a {
    font-size: small !important;
    text-decoration: none !important;
}

a:hover {
    text-decoration: none !important;
    color: #fff !important;
}

li:has(a):hover {
    background-color: #0D6EFD !important;
    color: #fff !important;
}

.singleMenu {
    border: none !important;
    background-color: #fff !important;
    width: 100% !important;
}

.singleMenu:hover {
    background-color: #0D6EFD !important;
    color: white !important;
}