<div class="col mb-3 mt-1">
  <div class="row mx-3 mt-2 mb-3 py-1">
   <div class="col-12">
    <div class="row">
      <div class="col-3">
        <div class="card text-white bg-primary mb-3">
          <div class="row card-header">
            <div class="col-9"><h6 class=>Article</h6></div>
            <div class="col-1"><i class="fa-solid fa-box"></i></div>
          </div>
          <div class="card-body">{{totalArticle}}</div>
        </div>
      </div>
      <div class="col-3">
        <div class="card text-white bg-success mb-3">
          <div class="row card-header">
            <div class="col-9"><h6 class=>Utilisateur</h6></div>
            <div class="col-1"><i class="fa-solid fa-users-viewfinder"></i></div>
          </div>
          <div class="card-body">{{totalUtilisateur}}</div>
        </div>
      </div>
      <div class="col-3">
        <div class="card text-white bg-info mb-3">
          <div class="row card-header">
            <div class="col-9"><h6 class=>Client</h6></div>
            <div class="col-1"><i class="fa-solid fa-users"></i></div>
          </div>
          <div class="card-body">{{totalClient}}</div>
        </div>
      </div>
      <div class="col-3">
        <div class="card text-white bg-danger mb-3">
          <div class="row card-header">
            <div class="col-9"><h6 class=>Fournisseur</h6></div>
            <div class="col-1"><i class="fa-solid fa-cart-flatbed"></i></div>
          </div>
          <div class="card-body">{{totalFournisseur}}</div>
        </div>
      </div>
    </div>
   </div>
  </div>
  <div class="row mx-3 mt-2 my-0 py-1">
    <div class="col-12">
      <div class="row m-0">
        <div class="col-md-4 mt-2">
          <div class="input-group mb-3">
            <span class="input-group-text" id="dateDebut">Du&nbsp;<i class="fa-solid fa-calendar-days"></i></span>
            <input type="date" placeholder="date de début" id="date-debut" class="form-control" [(ngModel)]="startDate" name="startDate" id="date-debut" aria-describedby="DateDebut">
          </div>
        </div>
        <div class="col-md-3 mt-2">
          <div class="input-group mb-3">
            <span class="input-group-text" id="dateFin">Au&nbsp;<i class="fa-solid fa-calendar-days"></i></span>
            <input type="date" placeholder="date de début" class="form-control" id="date-fin" [(ngModel)]="endDate" name="endDate" (ngModelChange)="afficherData()" aria-describedby="dateFin">
          </div>
        </div>
        <div class="col-md-2 mt-2">
          <div class="mx-0">
            <span class="btn btn-success" (click)="afficherData()" id="searchIcon"><i class="fa-solid fa-magnifying-glass"></i> Afficher</span>
          </div>
        </div>
      </div>
      <div class="alert alert-danger" *ngIf="error">
        <span>{{error}}</span>
      </div>
    </div>
  </div>
  <div class="row px-3" *ngIf="afficherDraphe">
    <div class="col-6">
      <div class="row mb-4">
        <h4>Aperçue Direct des prix</h4>
        <div class="col-6">
          <div class="card text-white bg-primary mb-3">
            <h6 class="card-header">Commade client</h6>
            <div class="card-body">
              {{getPrixValue()[0]}} Ariary
            </div>
          </div>
          <div class="card text-white bg-success mb-3">
            <h6 class="card-header">Commade fournisseur</h6>
            <div class="card-body">
              {{getPrixValue()[1]}} Ariary
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="card text-dark bg-info mb-3">
            <h6 class="card-header">Vente</h6>
            <div class="card-body">
              {{getPrixValue()[2]}} Ariary
            </div>
          </div>
          <div class="card text-white bg-danger mb-3">
            <h6 class="card-header">Total</h6>
            <div class="card-body">
              {{parceData(getPrixValue()[0] + getPrixValue()[1] + getPrixValue()[2])}} Ariary
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <h4>Aperçue Direct des quantités</h4>
        <div class="col-6">
          <div class="card text-white bg-primary mb-3">
            <h6 class="card-header">Commade client</h6>
            <div class="card-body">
              {{getQuantiteValue()[0]}}
            </div>
          </div>
          <div class="card text-white bg-success mb-3">
            <h6 class="card-header">Commade fournisseur</h6>
            <div class="card-body">
              {{getQuantiteValue()[1]}}
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="card text-dark bg-info mb-3">
            <h6 class="card-header">Vente</h6>
            <div class="card-body">
              {{getQuantiteValue()[2]}}
            </div>
          </div>
          <div class="card text-white bg-danger mb-3">
            <h6 class="card-header">Total</h6>
            <div class="card-body">
              {{parceData(getQuantiteValue()[0] + getQuantiteValue()[1] + getQuantiteValue()[2])}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div id="prixCanva">
        <h4>Graphe des prix</h4>
        <canvas id="prx"></canvas>
      </div>
      <div id="qntCanva">
        <h4>Graphe des quantités</h4>
        <canvas id="qnt"></canvas>
      </div>
    </div>
  </div>
</div>
