<div class="col">
    <div class="row mx-3 my-0 py-1">
        <div class="col-md-7 p-0">
            <h3>Commande {{origin}}</h3>
        </div>
        <div class="col-md-5 text-end">
            <app-bouton-action
            (clickEvent)="nouveauCommande()"
            [isImporterVisible]="false"
            ></app-bouton-action>
        </div>
    </div>
    <div class="col m-3">
        <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="card">
                <div class="accordion-item m-0">
                    <h3 class="accordion-header m-0" id="menu">
                        <button class="accordion-button collapsed m-0" type="button" data-bs-toggle="collapse"
                            [attr.data-bs-target]="'#collapse'" aria-expanded="true" [attr.aria-controls]="'menu'">
                            <app-details-cmd-clt-frs></app-details-cmd-clt-frs>
                        </button>
                    </h3>
                    <div id="collapse" class="accordion-collapse collapse" [attr.aria-labelledby]="'menu'"
                        data-bs-parent="#accordionFlushExample">
                        <div class="card">
                            <div class="card-body scroll-body-max-height-130">
                                <app-details-cmd></app-details-cmd>
                                <app-details-cmd></app-details-cmd>
                                <app-details-cmd></app-details-cmd>
                                <app-details-cmd></app-details-cmd>
                                <app-details-cmd></app-details-cmd>
                                <app-details-cmd></app-details-cmd>
                                <app-details-cmd></app-details-cmd>
                                <app-details-cmd></app-details-cmd>
                                <app-details-cmd></app-details-cmd>
                                <app-details-cmd></app-details-cmd>
                                <app-details-cmd></app-details-cmd>
                            </div>
                            <div class="card-footer">
                                <div class="row">
                                    <div class="col-md-6 text-start">20 articles commander</div>
                                    <div class="col-md-6 text-end">Total commande : 123.9</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row m-2">
            <div class="col-md-12 text-center">
                <app-pagination></app-pagination>
            </div>
        </div>
    </div>
</div>