<div class="col">
    <div class="row mx-3 my-0 py-1">
        <div class="col-md-7 p-0">
            <h3>List des utilisateurs</h3>
        </div>
        <div class="col-md-5 text-end">
            <app-bouton-action
            (clickEvent)="nouveauUtilisteur()"
            ></app-bouton-action>
        </div>
    </div>
    
    <div class="card mx-3 mb-3">
        <div class="card-body">
            <div class="row g-3">
                <div class="col-md-3">
                    <input type="text" class="form-control" placeholder="Rechercher par nom" [(ngModel)]="searchNom" (input)="filtrer()">
                </div>
                <div class="col-md-4">
                    <input type="text" class="form-control" placeholder="Rechercher par email" [(ngModel)]="searchEmail" (input)="filtrer()">
                </div>
                <div class="col-md-3">
                    <input type="text" class="form-control" placeholder="Rechercher par entreprise" [(ngModel)]="searchEntreprise" (input)="filtrer()">
                </div>
                <div class="col-md-2">
                    <button class="btn btn-outline-secondary w-100" (click)="reinitialiserFiltres()">
                        <i class="fas fa-redo"></i> Réinitialiser
                    </button>
                </div>
            </div>
        </div>
    </div>
    
    <div class="col m-3" *ngFor="let user of listUtilisateurFiltre | paginate : {
        itemsPerPage: 4,
        currentPage: page,
        totalItems: listUtilisateurFiltre.length }">
        <app-detail-utilisateur
        [utilisateur]="user"
        ></app-detail-utilisateur>
    </div>
    <div class="row m-2">
        <div class="col-md-12 text-center">
            <pagination-controls class="small-text"
            previousLabel="Precedent"
            nextLabel="Suivant"
            (autoHide)="true"
            (responsive)="true"
            (pageChange)="page=$event" 
            ></pagination-controls>
        </div>
    </div>
</div>