<div class="row">
    <div class="col-md-8">
        <div class="input-group mb-3">
            <input type="text" class="form-control" id="floatingInputGroup1" placeholder="Recherche">
            <span class="input-group-text"><i class="fa-solid fa-magnifying-glass"></i></span>
        </div>
    </div>
    <div class="col-md-4">
        <div class="row">
            <div class="col-md-9 text-end">
                <span>Bonjour Luca</span>
            </div>
            <div class="col-md-3">
                <img src="favicon.ico" class="circle mx-auto d-block" alt="image">
            </div>
        </div>
    </div>
</div>
