<div class="col">
    <div class="row mx-3 my-0 py-1">
        <div class="col-md-7 p-0">
            <h3>List des clients</h3>
        </div>
        <div class="col-md-5 text-end">
            <app-bouton-action
            (clickEvent)="nouveauClient()"
            ></app-bouton-action>
        </div>
        <div class="alert alert-danger" *ngIf="errorMsg">
            <span>{{ errorMsg }}</span>
        </div>
    </div>
    <div class="col m-3">
        <app-detail-clt-frs *ngFor="let client of listClients | paginate : {
            itemsPerPage: 4,
            currentPage: page,
            totalItems: listClients.length }"
        [origin]="'client'" (suppressioResult)="handleSuppression($event)"
        [clientFournisseur]="client"></app-detail-clt-frs>
    </div>
    <div class="row m-2">
        <div class="col-md-12 text-center">
            <pagination-controls class="small-text"
                previousLabel="Precedent"
                nextLabel="Suivant"
                (autoHide)="true"
                (responsive)="true"
                (pageChange)="page = $event">
            </pagination-controls>
        </div>
    </div>
</div>