<div class="row mb-1 custom-border">
    <div class="col-md-1">
        <div class="border-right text-center p-2">
            <img src="favicon.ico" alt="produit" width="50px" height="50px">
        </div>
    </div>
    <!-- Detail client / fournisseur -->
    <div class="col-md-4 border-right">
        <div class="row small-text my-1">
            <div class="row">
                <div class="col-md-1"><i class="fas fa-info-circle blue-color"></i></div>
                <div class="col-md-11">Nom</div>
            </div>
            <div class="row">
                <div class="col-md-1"><i class="fas fa-info-circle blue-color"></i></div>
                <div class="col-md-11">Prenom</div>
            </div>
            <div class="row">
                <div class="col-md-1"><i class="fas fa-phone blue-color"></i></div>
                <div class="col-md-11">+261 33 67 518 24</div>
            </div>
        </div>
    </div>
    <!-- Detail commande -->
    <div class="col-md-4 border-right">
        <div class="row small-text my-1">
            <div class="row">
                <div class="col-md-1"><i class="fas fa-qrcode blue-color"></i></div>
                <div class="col-md-11">CMD-12345</div>
            </div>
            <div class="row">
                <div class="col-md-1"><i class="fas fa-calendar-check blue-color"></i></div>
                <div class="col-md-11">02.09.2022</div>
            </div>
            <div class="row">
                <div class="col-md-1"><i class="fas fa-cart-arrow-down blue-color"></i></div>
                <div class="col-md-11">LIVREE</div>
            </div>
        </div>
    </div>
    <!-- Boutton action -->
    <div class="col-md-3">
        <div class="row">
            <div class="col-md-6 text-primary text-center small-text">
                <button class="btn btn-link" type="button">
                    <i class="fas fa-pencil-alt"></i>&nbsp;
                    Modifier
                </button>
            </div>
            <div class="col-md-6 text-dander text-center small-text">
                <button class="btn btn-link text-danger" type="button">
                    <i class="fas fa-trash-alt"></i>&nbsp;
                    Supprimer
                </button>
            </div>
        </div>
    </div>
</div>