
<div class="btn-group btn-group-sm text-center" role="group" aria-label="Small button group">
    <button type="button" class="btn btn-light">
        <i class="fas fa-angle-double-left"></i>
    </button>
    <button type="button" class="btn btn-light">
        <i class="fas fa-angle-left"></i>
    </button>
    <button type="button" class="btn btn-light">1</button>
    <button type="button" class="btn btn-light">2</button>
    <button type="button" class="btn btn-light">3</button>
    <button type="button" class="btn btn-light">4</button>
    <button type="button" class="btn btn-light">
        <i class="fas fa-angle-right"></i>
    </button>
    <button type="button" class="btn btn-light">
        <i class="fas fa-angle-double-right"></i>
    </button>
</div>