<div class="col">
    <div class="row m-3">
        <div class="col-md-8 p-0">
            <h1>List des articles</h1>
        </div>
        <div class="col-md-4 text-end">
            les boutons
        </div>
    </div>
    <div class="col m-3">
        <app-detail-article></app-detail-article>
        <app-detail-article></app-detail-article>
        <app-detail-article></app-detail-article>
        <app-detail-article></app-detail-article>
        <app-detail-article></app-detail-article>
    </div>
    <div class="row m-3 text-center">
       pagignation
    </div>
</div>
