/* You can add global styles to this file, and also import other style files */
body{
    background-color: darkgrey;
}
.main-container{
    margin: 30px;
}
.min-height-600{
    min-height: 560px !important;
}
.no-flex-wrap{
    flex-wrap: inherit !important;
}
.min-height-50{
    min-height: 50px !important;
}
.min-height-440{
    min-height: 440px !important;
}
.backgound-grey{
    background-color: darkgrey !important;
}
div{
    border: 0 !important;
}
.border-right{
    border-right: 2px solid darkgrey !important;
}
.custom-border{
    border: 1px solid darkgray !important;
    border-radius: 5px;
}