/* You can add global styles to this file, and also import other style files */
body{
    background-color: darkgrey;
}
.main-container{
    margin: 30px;
}
.dashbord{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 30px;
    margin-right: 30px;
}
.min-height-600{
    min-height: 560px !important;
}
.no-flex-wrap{
    flex-wrap: inherit !important;
}
.min-height-50{
    min-height: 30px !important;
}
.max-height-30{
    max-height: 60px !important;
}
.min-height-440{
    min-height: 440px !important;
}
.backgound-grey{
    background-color: darkgrey !important;
}
div{
    border: 0 !important;
}
.border-right{
    border-right: 2px solid darkgrey !important;
}
.custom-border{
    border: 2px solid darkgray !important;
    border-radius: 5px;
}

.color-white{
    color: white !important;
}

.small-text{
    font-size: small !important;
}
.center-y{
    margin: auto !important;
    padding-top: 3px !important;
}
.blue-color{
    color: rgba(2, 64, 114, 0.904);
}
.btn-link{
    text-decoration: none !important;
}
.btn-link:hover{
    text-decoration: underline !important;
}
.scroll-body-max-height-130{
    max-height: 130px !important;
    overflow-y: scroll !important;
    overflow-x: hidden;
}