<div class="row mb-1 custom-border small-text  text-center">
    <!-- Detail article -->
    <div class="col-md-3 border-right ">
        <div class="col-md-12">
            <i class="fas fa-info-circle blue-color"></i>&nbsp;
            {{ligneCommande.article?.codeArticle}}
        </div>
    </div>
    <div class="col-md-3 border-right">
        <div class="col-md-12">
            {{ligneCommande.article?.designation}}
        </div>
    </div>
    <div class="col-md-2 border-right">
        {{ligneCommande.quantite}}
    </div>
    <div class="col-md-2 border-right">
        {{ligneCommande.prixUnitaire}}
    </div>
    <div class="col-md-2 border-right">
        {{ligneCommande.prixUnitaire && ligneCommande.quantite ? +ligneCommande.prixUnitaire * +ligneCommande.quantite: 0}}
    </div>
</div>