<div class="main-container no-border">
    <div class="row min-height-600 no-flex-wrap">
        <div class="card col-2 me-2 px-1 py-3">
            <h5 class="mx-3">Gestion de stock v1</h5>
            <app-menu></app-menu>
        </div>
        <div class="card col-10 px-0 backgound-grey">
            <div class="col">
                <div class="card min-height-50 mb-2 pt-3 px-3">
                    <app-header></app-header>
                </div>
                <div class="card mb-2 min-height-440">
                    <router-outlet></router-outlet>
                </div>
                <div class="card min-height-50">
                    Footer
                </div>
            </div>
        </div>
    </div>
</div>